<section class="main-container" >
	<header>
		<p>Hola</p>
	</header>
	<article class="relative flex xl:block">
		<h1 class="text-[7rem] text-start leading-[.9]">Ford F150 Raptor</h1>
		<aside class="static top-0 right-0 w-[10rem] sm:w-[20rem] md:w-[30rem] xl:absolute xl:w-[40rem] ">
			<img src="/F150-Raptor2.png" alt="raptor" class="w-full">
		</aside> 
	</article>
	<article class="w-[45%]  pt-[2rem]">
		<p class="text-[1.5rem] text-gray-800">
			La Nueva F-150 Raptor es la cúspide de la familia Raza Fuerte en términos de capacidad off-road, robustez y tecnología. Esta evolución equipa un potente motor 3.5L V6 Ecoboost bi-turbo que eroga 456 CV y 691 NM de torque, y que entrega prestaciones deportivas en cualquier tipo de terreno.
		</p>
		<div class="flex gap-3 pt-[1.5rem]">
			<button class="rounded-full px-5 py-2 text-lg font-semibold bg-white shadow-sm shadow-slate-200">
				<a href="#">Mirá el inventario</a>
			</button>
			<button class="rounded-full px-5 py-2 text-lg font-semibold bg-[#0a2656] text-white shadow-sm shadow-slate-200">
				<a href="#">Diseñá y cotizá</a>
			</button>
		</div> 
	</article>
</section>  