li.navbar_element{
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  li.navbar_element:focus,
  li.navbar_element:hover{
    color: black;
  }
  
  li.navbar_element:focus:after,
  li.navbar_element:hover:after{
    width: 100%;
    left: 0%;
  }
  
  li.navbar_element:after{
    content: "";
    pointer-events: none;
    bottom: -1px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }