@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    /* font-family: "Bebas Neue", system-ui; */
    font-family: "Outfit", sans-serif;
    background-color: rgb(229, 229, 229);
    overflow-x: hidden;
}
